.editor{
    height: auto;
    background-color: lightblue;
}
.ace_editor{
    height: 650px !important;
    width: 100%!important;
}
.outputBlock{
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
